@import url(base.css);
body {
  background: url(Rectangle%206.png) center no-repeat;
  background-size: cover;
-webkit-background-size: cover;
  height: 100%;
  margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
font-size: 1.3rem;
  
}

header {
  margin: 70px 0 0 0;
color: #fff;
}

.header-line {
  margin: 0 auto;
  width: 1425px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}
nav a {
  width: 164px;
  height: 60px;
  background-color: #9D9D9C;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    А
    
}
.bg-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem; /* Збільшено розмір шрифту до 5rem */
    color: #fff;
}

  
}
footer{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img{
    display: block;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    background-image: url("arrow.png")
   
}
.nav-item{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 391px) {
 
  .header-line {
    width: 160px;
    height: 60px;
    display: block;
    text-align: center;
  }
    .bg-text {
        font-size: 3rem; /* Розмір шрифту для мобільної версії */}
  nav {
    display: block;
    text-align: center;
      margin-top: 20px;
      width: 0px;
  }
    .nav-item {
        display: block;
        text-align: center;
        margin-top: 20px;
    }   .
    nav a{
    display: block;
    
    }
    main{
        margin-top: 160px;
        font-size: 3rem;
        margin-left: 10px;
    }
    .number{
    margin-top: 20px;
    }     
    .logo {min-width: 50%;
        display:block;
    height: 50px;
        margin: auto;
    }
    #background-video {
            display: none;
          }

}
          .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #b4b4b2;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border: 1px solid #ddd;
            padding-top: 5px; /* Добавлено для отступа от верхней границы */
        }

        .dropdown-content a {
            color: black;
            padding: 8px 16px;
            text-decoration: none;
            display: block;
            border-bottom: 1px solid #ddd; /* Добавлено линии между пунктами меню */
        }

        .dropdown-content a:last-child {
            border-bottom: none; /* Убираем линию у последнего пункта меню */
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

.logo {
    max-width: 10%;
    height: auto;
}

#background-video {
            width: 400px;
            height: 600px;
            object-fit: cover;
            border-radius: 80px;
          margin-left: 50px;
    margin-top: -900px;
          }

